<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-6level%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lwerl.start.HeadStarter" level="ALL"/>

    <root level="ALL">
        <appender-ref ref="console"/>
    </root>
</configuration>